# Server Configuration
PORT=4000
NODE_ENV=development

# Database Settings (SQLite local file path)
DATABASE_URL="file:./dev.db"

# Allowed CORS Origin (Vercel deployment domain or localhost)
CORS_ORIGIN="http://localhost:3000"

# ExchangeRate-API Key
EXCHANGE_RATE_API_KEY=""
