# Server Configuration
PORT=4000
NODE_ENV=development

# Database Settings (PostgreSQL Connection String)
DATABASE_URL="postgresql://username:password@ep-host-name.region.neon.tech/neondb?sslmode=require"

# Allowed CORS Origin (Vercel deployment domain or localhost)
CORS_ORIGIN="http://localhost:3000"

# ExchangeRate-API Key
EXCHANGE_RATE_API_KEY=""
